{
 :category-name "Language command handler"
 :mapping       {"Clojure"      "clojure-*"
                 "Kotlin"       "kotlin-*"
                 "Rust-rdkafka" "rust-*"
                 "Rust-kafka"   "rn-*"}
 }